#my-portrait {
  width:500px;
}

#guacamole {
  width:500px;
}

#aboutme {
  border: solid 1px #ccc;
  padding: 20px;
}

#assignments-major-section {
  border: solid 1px #ccc;
  padding: 20px;
}

#assignments-major-section h2 {
  font-size: 50px;
}

#content {
  background-color: lightblue;
}
