<div id="content"

head{}

h1 {
  color: black;
  font-size: 150%;
}

h2 {
  color: black;
  font-size: 120%;
}

p {
  font-family: "verdana";
  color: black;
  text-indent: "30px";
}

img {
  width: 1500px;
  height: 1000px;
}

#content {
  background-color: tan;
  width: 1500px;
  min-height: 30px;
  padding: 40px;
  margin: 40px;
  border: solid 20px navy;
  font-size: 36px;
}
